@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-50: #f4f6f8;
  --color-brand-100: #e2e8f0;
  --color-brand-500: #1a1a1a;
  /* Kintsugi style black/dark brand */
  --color-brand-600: #000000;
  --color-brand-900: #000000;

  --color-fintech-primary: #4f46e5;
  --color-fintech-success: #10b981;
  --color-fintech-warning: #f59e0b;
  --color-fintech-danger: #ef4444;

  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.03);
  --shadow-card: 0 4px 20px rgba(0, 0, 0, 0.05);
}

:root {
  --background: #fdfdfd;
  /* Almost white */
  --foreground: #1a1a1a;
  /* Soft black */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar for that clean look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}